@font-face {
    font-family: "ZonaPro ExtraLight";
    src: local("ZonaPro-ExtraLight"), url("ZonaPro-ExtraLight.otf");
}

@font-face {
    font-family: "Slim Joe";
    src: local("Slim Joe"), url("Slim Joe.otf");
}

.contactWrapper {
    padding: 20px;
    width: 100%;
    height: 70vh;
  
}

.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contactDetailsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 900;    
    align-items: center;
    padding-bottom: 50px;
}

.contactDetailsClipWrap {
    color: rgb(243, 220, 196);
}

.phoneText,
.emailText {
    font-family: "ZonaPro ExtraLight";
    font-size: 1.1em;
    transition: all .2s ease-in-out;
    color: rgb(224, 203, 180);
}

.emailText:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.2em;
}

.contactImg {
    margin-right: 4vw;
    height: 100%;
    width: 8vw;
}

/*
.contactSubheadContainer,
.projectSubheadContainer {
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/0xPgM5l/elegant-background-wedding-loop-animation_x1ej4ywvi__F0000.png");
    background-position: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.contactSubhead,
.projectSubhead {
    font-family: "ZonaPro ExtraLight";
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 4vw;
}

.contactBox {
    grid-area: ctb;
    padding-bottom: 20px;
    width: 80vw;
}

input,
select,
textarea {
    font-family: "ZonaPro ExtraLight";
    margin: 5px;
    padding: 4px;
    width: 100%;
    font-size: 2.5vw;
}

#message {
    height: 15vh;
    width: 100%;
}

.formInfo {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1px;
    color: rgb(187, 162, 138);
    font-family: "ZonaPro ExtraLight";
}

.buttonContainer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 2.5vw;
    font-weight: 900;
}

.submitMessage {
    margin-bottom: 30px;
    margin-top: 10px;
    cursor: pointer;
    background: black;
    color: #C4B19E;
    border: 2.5px solid #C4B19E;
    background-image: linear-gradient(to right, #C4B19E 50%, black 50%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-align: center;
    font-family: "ZonaPro ExtraLight";
    margin-left: 8px;
 
    margin-bottom: 8px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    width: 35%;
}*/

/* .submitMessage:hover {
    color: black;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background-position: bottom left;
} */

/* @media only screen and (min-width: 900px) {
    .contactSubhead {
        font-size: 3.2vw;
    }
    .formInfo {
        padding: 8px;
    }
    input,
    select,
    textarea {
        font-size: 2.2vw;
    }
    #message {
        height: 25vh;
    }
    .submitMessage {
        margin-bottom: 50px;
        margin-top: 30px;
    }
} */

/* @media only screen and (min-width: 1500px) {
    .contactSubhead {
        font-size: 3vw;
    }
    .formInfo {
        padding: 8px;
    }
    input,
    select,
    textarea {
        font-size: 1.7vw;
    }
    #message {
        height: 28vh;
    }
    .submitMessage {
        margin-bottom: 50px;
        margin-top: 30px;
    }
}  */

@media only screen and (min-width: 550px) {
    .phoneText,
    .emailText {
        font-size: 1.4em;
    }
    .emailText:hover {
        font-size: 1.5em;
    }
    .contactImg {
        width: 8vw;
    }
}

@media only screen and (min-width: 650px) {
    .phoneText,
    .emailText {
        font-size: 1.8em;
    }
    .emailText:hover {
        font-size: 2em;
    }
    .contactImg {
        width: 8vw;
    }
}

@media only screen and (min-width: 800px) {
    .phoneText,
    .emailText {
        font-size: 3em;
    }
    .emailText:hover {
        font-size: 3.2em;
    }
    .contactImg {
        width: 8vw;
    }
    .contactDetailsClipWrap {
        background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/0xPgM5l/elegant-background-wedding-loop-animation_x1ej4ywvi__F0000.png");
        background-position: center;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

@media only screen and (min-width: 1000px) {
    .phoneText,
    .emailText {
        font-size: 3.3vw;
    }
    .emailText:hover {
        font-size: 4.3vw;
    }
    .contactImg {
        width: 8vw;
    }
}

@media only screen and (min-width: 1200px) {
    .phoneText,
    .emailText {
        font-size: 3vw;
    }
    .emailText:hover {
        font-size: 4vw;
    }
    .contactImg {
        width: 8vw;
    }
}