@font-face {
  font-family: "ZonaPro ExtraLight";
  src: local("ZonaPro-ExtraLight"), url("ZonaPro-ExtraLight.otf");
}

@font-face {
  font-family: "Slim Joe";
  src: local("Slim Joe"), url("Slim Joe.otf");
}

.projectsContainer {
  grid-area: prj;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-repeat: no-repeat;
}

.projectSubheadContainer {
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/0xPgM5l/elegant-background-wedding-loop-animation_x1ej4ywvi__F0000.png");
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.projectSubhead {
  font-size: 5vw;
}

.flashdeck,
.set {
  padding-top: 20px;
}

.projectImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectImage {
  cursor: pointer;
  height: 100%;
  width: 70vw;
  padding: 10px;
  transition-duration: .5s;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
}

.projectImage:hover {
  height: 100%;
  width: 80vw;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 900px) {
  .projectsContainer {
    grid-area: prj;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-repeat: no-repeat;
    padding: 20px;
  }
  .projectImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projectImage {
    height: 100%;
    width: 30vw;
    padding: 10px;
  }
  .projectImage:hover {
    height: 100%;
    width: 35vw;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
  }
  .flashdeck,
  .set {
    padding-top: 0px;
  }
}